#DownST{
    background-color: black;
    height: 12vh; 
    width: 16rem;
    color: lightblue;
    border: black 1px solid;
    vertical-align: center;
    position: relative;
    padding: 0.5rem 0.65rem;
    display: flex;
    border-radius: 1rem;
    border: 2px solid rgba(131, 130, 130, 0.616);
}
.img1 img{
    height: 10vh;
    margin: 0.5rem;
}
.text{
    margin-left: 1rem;
    position: absolute;
    top: 4vh;
    left: 10vh;
    line-height: 1.5;
}
.text h5{
    font-family: sans-serif;
    font-weight: 900;
    color: white;
}
.text p{
    color: #0071eb;
}
#setMiddle{
    margin: 0;
}
.img2 img{
    height: 7vh;
    float: right;
    position: absolute;
    top: 4vh;
    right: 1.2rem;

}