.topCont{
    background-image:  linear-gradient(0deg,rgba(0,0,0,0.8) 0,transparent 40%,rgba(0,0,0,0.8)),url(images/Background-medium.jpg);
    height: 100vh;
    background-size: cover;
}
.svg{
    fill: red !important;
    color: red;
    height: 2.25rem;
}
.navbar{
    padding: 30px 60px !important;
}
.InnerNav{
    width: 100%;
}
.floatRight{
    float: right ;    
    font-weight: 800;
}
.btnSI{
    background-color: #e50914;
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 3px;
    border: 0;
    color: white;
    margin-left: 30px;
}
.LangDD{
    background-color: transparent;
    color: white;   
    border: 1px solid white;
    padding: 5px 2px;
    border-radius: 3px;
}

.LangDD option{
    background-color: lightslategrey;
    color:white;
}
.Page1{
    padding: 70px;
    height: 100vh;
}
.headings{
    color: white;
    text-align: center;
    padding: 30px;
}
.headings h1{
    font-size: 3.5rem;
    margin: 15px 50px;
}
.EmailSec h6{
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 20px;
}
.EmailSec label{
    width: 100%;
}

/* .EmailSec input{
    padding: 0.8rem;
    font-size: 1.5rem;
    width: 57%;    
    border: 0;
}
.EmailSec button{
    padding: 0.8rem;
    font-size: 1.5rem;
    width: 25%;
    background-color: #e50914;
    color: white;
    border: 0; 
} */

.EmailSec input{
    padding-left: 12px;
    width: 57%;    
    height: 3.5rem;
    border: 0;
    margin: 0;
    outline: 1px rgb(160,160,160) solid;
    position: relative;
}
.EmailSec input:focus{
    outline: 1px rgb(0,113,235) solid;
}
.EmailSec input:focus::placeholder{
    font-size: small;
    font-weight:600;
    transition: 200ms;
    position: absolute;
    top: 2px;
    left: 10px;
}
.EmailSec button{
    padding: 17px;
    width: 25%;
    background-color: #e50914;
    color: white;
    border: 0;
    margin: 0%;
}
.pressEnterCSS{
    visibility: hidden;
}
hr{
    background-color: rgb(41, 41, 41) !important;
    border: 0 !important;
    height: 1.2vh !important;
    opacity: 1 !important;
    margin: 0 !important;
}
.Page2{
    /* background-image:url(images/black\ 5x12\ background.jpg); */
    color: white;
    background-color: black ;
    height: 70vh;
    background-size: cover;
    position: relative;
    padding: 50px;
}
#p2p1{
    float: left;
    width: 50%;
    margin-top: 5vh;

}
#p2p1 h1{
    font-size: 3.15rem;
    margin-bottom: 3vh;
    margin-top: 1.5rem;
    font-weight: 900;
}
#p2p1 h3{
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
}
#p2p2{
    float: right;
    position: relative;
}
#p2p2 img{
    height: 20rem;
    position: absolute;
    right: 0.2rem !important;
    top: 0rem;
    margin-right: rem;
    z-index:2;
}
#p2p2 video{
    height: 11rem;
    position: absolute;
    top: 4rem;
    right: 3.9rem;

}

.Page3{
    /* background-image:url(images/black\ 5x12\ background.jpg); */
    color: white;
    background-color: black ;
    height: 60vh;
    background-size: cover;
    position: relative;
    padding: 70px ;
}
#p3p2{
    float: right;
    width: 50%;
}
#p3p2 h1{
    font-size: 3.15rem;
    margin-bottom: 3vh;
    font-weight: 900;
    vertical-align: middle;
    display: flex;
}
#p3p2 h3{
    line-height: 1.5;
    font-size: 1.6rem;
    font-weight: 400;
    vertical-align: middle;
    display: flex;
}
#p3p1{
    float: left;
}
#backIMG{
    height: 20rem;
    position: absolute;
    top: 2.1rem;
    left: 1.5rem;
}


#DownST{
    z-index: 1;
    background-color: black;
    height: 5.8rem;
    width: 17rem;
    color: lightblue;
    border: black 1px solid;
    vertical-align: center;
    position: relative;
    top: 11rem;
    left: 2rem;
    padding: 0.5rem 0.65rem;
    display: flex;
    border-radius: 0.8rem;
    border: 2px solid rgba(131, 130, 130, 0.616);
}
.img1 img{
    height: 4rem;
    position: absolute;
    top: 0.6rem;

}
.text{
    margin-left: 1rem;
    position: absolute;
    top: 1.6rem;
    left: 3.8rem;
    line-height: 1.5;
}
.text h5{
    font-size: 0.8rem;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: white;
}
.text p{
    color: #0071eb;
    margin-top: 0.3rem !important;
    font-size: 0.8rem;
    font-family: sans-serif;
    font-weight: 0;
}
#setMiddle{
    margin: 0;
}
.img2 img{
    height: 2.8rem;
    float: right;
    position: absolute;
    top: 1.5rem;
    right: 0.7rem;
}


.Page4{
    /* background-image:url(images/black\ 5x12\ background.jpg); */
    color: white;
    background-color: black ;
    height: 70vh;
    background-size: cover;
    position: relative;
    padding: 70px ;
}
#p4p1{
    float: left;
    width: 50%;

    margin-top: 5vh;

}
#p4p1 h1{
    font-size: 3.15rem;
    font-weight: 800;
    letter-spacing: -0.08rem;
    margin-bottom: 3vh;

}
#p4p1 h3{
    line-height: 1.5;
    font-size: 1.6rem;
    font-weight: 400;
}
#p4p2{
    float: right;
}
#p4p2 img{
    height: 49vh;
    position: absolute;
    top: 5vh;
    right: 0;
    margin-right: 5vh;
    z-index: 1;
}
#p4p2 video{
    height: 10rem;
    position: absolute;
    top: 3.8rem;
    right: 6.8rem;
}

.page5{
    /* background-image:url(images/black\ 5x12\ background.jpg); */
    color: white;
    background-color: black ;
    height: 70vh;
    background-size: cover;
    position: relative;
    padding: 70px ;
}

#p5p1{
    float: right;
    width: 50%;
}
#p5p1 h1{
    font-size: 3.15rem;
    margin-bottom: 3vh;
    font-weight: 900;
    vertical-align: middle;
    display: flex;
}
#p5p1 h3{
    line-height: 1.5;
    font-size: 1.6rem;
    font-weight: 400;
    vertical-align: middle;
    display: flex;
}
#p5p2{
    float: left;
}
#p5p2 img{
    height: 20rem;
    position: absolute;
    top: 2.1rem;
    left: 1.5rem;
}


.noClass{
    height: 20rem;
    position: absolute;
    top: 3.1rem;
    left: 1.5rem;
}

.FAQ{
    color: white;
    background-color: black ;
    padding: 70px ;
    text-align: center;
}

.FAQtext{    
    font-weight: 800;
    font-size: 3.15rem;
}
.card-body{
    color: white;
    background-color: rgb(71, 71, 71) !important;
}
.collapse{
    
}
.btspbtn{
    width: 85% !important;
    font-size: 1.5rem !important;
    background-color: rgb(71, 71, 71) !important;
    padding: 1rem 2rem !important;
    margin: 2.5rem 0 0.3rem 0;
}
details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}
/* summary::marker{
    -webkit-appearance: none !important;
} */
details summary i{
    transform: rotate(90deg);
    right: 1rem;
    position: absolute;
    z-index: 1;
    color: white;
}

details[open] i{
    transform: rotate(180deg);
}

summary::marker{
    color: transparent;
}
details summary{
    z-index: 0;
    position: relative;
    background-color: rgba(45, 45, 45, 1);
    font-size: 1.5rem;
    padding: 1rem 1rem 1rem 1.8rem;
    width: 70%;
    display: flex;
    margin: 0.3rem 0;
    align-items: center;
}

/* details[open] summary[open] summary{
    margin: 0 !important;
} */

details p{
    width: 70%;
    background-color:rgba(45, 45, 45, 1) ;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    padding: 2rem;
    font-size: 1.4rem;
}
.FAQhr{
    background-color: transparent !important;
    height: 1px !important;

}

.outlineGreen{
    border: #5fa53f 1px solid !important;
}

.bottomLineYellow{
    border-bottom: 0.15rem solid #ffa008 !important;

}
.learnJS2{
    color: #ffa008;
    float: left;
    padding: 0.2rem;
    padding-left: 4.8rem;
}
.emailRequired{
    visibility: hidden;
}

details summary:hover{
    background-color: rgb(78,78,78);
    transition: 500ms;
}
summary p{
    background-color: rgba(45, 45, 45, 1) ;
}
.EmailSec1 h6{
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 20px;
}
.EmailSec1 label{
    width: 100%;
}
.EmailSec1 input{
    padding-left: 12px;
    width: 57%;    
    height: 3.5rem;
    border: 0;
    margin-bottom: 0;
    outline: 1px rgb(160,160,160) solid;
    position: relative;
}
.EmailSec1 input::placeholder{
    position: absolute;
    top: 30%;
}
.EmailSec1 button{
    padding: 17px;
    width: 25%;
    background-color: #e50914;
    color: white;
    border: 0;
    margin: 0%;
}
/* .EmailSec1 input:focus{
    outline: 1px rgb(0,113,235) solid;
} */
.focusOutlineBlue{
    outline: 1px rgb(0,113,235) solid !important;
}
.EmailSec1 input:focus::placeholder{
    font-size: small;
    font-weight:700;
    transition: 200ms;
    position: absolute;
    top: 2px;
    left: 10px;
}
.footer{
    color: white;
    background-color: black ;
    padding: 90px 90px 20px 90px;
    text-align: center;
}

.call{
    /* margin-right: auto; */
    color: #737373;
    margin-bottom: 0;
    text-align: left;
}
.call a{
    color: #737373;
}
.call a:hover{
    color: #737373;
}
.floatRight1{
    text-align: left;
    font-weight: 800;
    color: #737373;
    margin-top: 1.2rem;
}
.floatRight1 select{
    padding: 0.8rem 1.2rem;
}
.end{
    padding-top: 1.5rem;
    color: #737373;
    text-align: left;
}
.LangDD1{
    background-color: transparent;
    color: #737373;   
    border: 1px solid #737373;
    padding: 5px 2px;
    border-radius: 3px;
}

.LangDD1 option{
    background-color: lightslategrey;
    color:white;
}
.grid-cont{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 1.5rem;
    text-align: left;
    font-size: 0.8rem;
}
.grid-item ul{
    padding-left: 0;
}
.grid-item ul li{
    list-style-type: none;
    margin: 0.8rem 0;
    margin-left: 0;
}
.grid-item ul li a{
    color: #737373;
    text-decoration: none;
}
.grid-item ul li a:hover{
    text-decoration: underline ;
}
.setCenter{
    display: flex;
}
.setCenter p{
    margin: auto;
}
.setCenter summary{
    margin: auto;
}



/* CSS for Signup Page */

/* .svg2{
    fill: red !important;
    color: red ;
    height: 1rem ;
}
.navbar2{
    padding: 1rem 2rem !important;
}
.InnerNav2{
    width: 100%;
} */


.addBG{
    background-image:  linear-gradient(0deg,rgba(0,0,0,0.8) 0,transparent 15%,rgba(0,0,0,0.8)),url(images/Signup\ background.jpg);    
    background-size: cover;
    display: block;
    height: auto;
}
.signupbody{
   margin: 0;
   font-family: 'Nunito Sans', sans-serif !important;
}
.loginForm{
    /* padding: 2rem 1.5rem; */
    /* padding: 10% 5% 5% 5%; */
    height: auto;
    color: white;
}
.loginForm h1{
    color: white;
    margin: 0;
}
#emailOrPhone, #password{
    padding: 1rem;
    width: 93%; 
    border: 0;          
    border-radius: 0.3rem; 
    background-color: #333;
    outline:0;          
    display: block;     
    margin: auto;       
}
#emailOrPhone{
    margin-top: 1.5rem !important;
    margin-bottom: 1rem !important;
}
#password{
    margin-bottom: 3rem !important;
}
.inputs{
    width: 100%;
    /* overflow: hidden; */
    /* display: block;
    align-items: center;
    justify-content: center;     */
}
.SignIn{
    padding: 0;
    width: 100%;
}
.SignIn button{
    /* padding: 1rem;
    width: 90%;   
    border: 0;
    border-radius: 0.1rem; 
    outline:0;
    margin: 1.5rem 0 1rem 0;
    background-color: red;
    color: white;
    font-size: 1rem;
    display: block;
    margin: 0 auto; */

    background-color: red;
    color: white;
    padding: 1rem;
    width: 100%;
    border: 0;
    border-radius: 0.3rem;
    outline: 0;
    display: block;
    margin: auto;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}
.ExtraContent span{
    color: white;
    font-size: 0.8rem;
    padding-left: 0.2rem;
    color: #b3b3b3;
}
.ExtraContent{
    padding-top: 5%;

}
.ExtraContent a{
    color: #b3b3b3;
    float: right;   
    text-decoration: none;
    font-size: 0.8rem;
}
.ExtraContent a:hover{
    text-decoration: underline;
}
.signUpForm{
    margin: 4rem 0;
    /* padding: 0% 5% 15% 5%; */
    color: #737373;
}
.signUpForm h4{
    font-weight: 400;
    margin-bottom: 1rem;
}
.signUpForm h4 a{
    color: white;
    text-decoration: none;
}
.signUpForm h4 a:hover{
    text-decoration: underline;
}
.signUpForm p{
    font-size:small;

}
.signUpForm p a{
    color: #0071eb;
    text-decoration: none;    
}
.signUpForm p a:hover{
    text-decoration: underline;
}
.diffHR{
    background-color: rgb(85, 84, 84) !important;
    height: 0rem !important;
    margin: 0 !important;
    margin-top: 2rem;
    border: 0;
}
.footer1{
    padding: 5% 5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.80);
    text-align: center;
}
.container{
    max-width: 30%;
    background-color: rgba(0, 0, 0, 0.80);
    /* opacity: 75%; */
    margin: auto;
    margin-bottom: 5.5rem;
    padding: 4rem;
}