body{
    font-family: 'Nunito Sans', sans-serif !important;
}
body,html{
    overflow-x: hidden;
    background-color: black !important;
    margin: 0;
}
.topCont{
    background-image:  linear-gradient(0deg,rgba(0, 0, 0, 0.7) 25%,rgba(0, 0, 0, 0.4) 50%,rgba(0,0,0,0.7) 75%),url(images/Background-medium.jpg);
    height: 30rem;
    background-size: cover;
}
.svg{
    fill: red !important;
    color: red;
    height: 1.4rem;
}
.navbar{
    padding: 1.4rem !important;
}
.InnerNav{
    width: 100%;
}
.floatRight{
    float: right;
    font-weight: 800;
}
.btnSI{
    background-color: #e50914;
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
    font-weight: 700 !important;
    border-radius: 3px;
    border: 0;
    color: white;
    margin-left: 0.5rem;
}
.btnSI:hover{    
    transition: 300ms;
    background-color: rgb(193, 17, 25);
}
.LangDD{
    background-color: transparent;
    color: white;  
    font-weight: 400 !important;
    font-size: 1rem; 
    border: 0.1rem solid rgba(255, 255, 255, 0.541);
    padding: 0rem 0.2rem;
    border-radius: 3px;
}
.page1{
    display: flex;
}
.headings{
    color: white;
    text-align: center;
    padding: 0rem 1.5rem 1.5rem 1.5rem;
}
.headings h1{
    font-size: 1.6rem;
    font-weight: 900;
    margin: 2.5rem 1.5rem 1rem 1.5rem;
}
.headings h3{
    font-size: 1.1rem;
    font-weight: 600 !important;
}
.EmailSec h6{
    font-size: 1.1rem;
    margin: 1.2rem 2.5rem;
    font-weight: 600;
}
.EmailSec label{
    width: 100%;
}

/* .EmailSec input{
    padding: 0.8rem;
    font-size: 1.5rem;
    width: 57%;    
    border: 0;
}
.EmailSec button{
    padding: 0.8rem;
    font-size: 1.5rem;
    width: 25%;
    background-color: #e50914;
    color: white;
    border: 0; 
} */

.EmailSec input{
    padding: 0.8rem;
    width: 100%;   
    margin-bottom:1rem;
    border: 0;
    border-radius: 0.1rem;
}
.EmailSec input:focus{
    outline: 1px rgb(0,113,235) solid;
}
.EmailSec button{
    padding: 0.6rem;
    width: 50%;
    background-color: #e50914;
    color: white;
    border-radius: 0.1rem;
    border: 0;
}
.EmailSec button:hover{
    transition: 300ms;
    background-color: rgb(193, 17, 25);
}

hr{
    background-color: rgb(41, 41, 41) !important;
    height: .4rem !important;
    margin: 0 !important;
    border: 0;
}
.Page2{
    color: white;
    /* background-color: black ; */
    height: auto;
    padding: 2rem;
}
#p2p1{
    width: 100%;
    text-align: center;
}
#p2p1 h1{
    font-size: 1.7rem;
    margin-bottom: 1.2rem;
    margin-top: 1.5rem;
    font-weight: 700 !important; 
}
#p2p1 h3{
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 500;
}
#p2p2{
    position: relative;
    justify-content: center;
    display: flex;
}
#p2p2 img{
    z-index:1;
    height: 15rem;
}
#p2p2 video{
    height: 8.3rem;
    position: absolute;
    top: 3.1rem;
    z-index: 0;
}
.Page3{
    color: white;
    /* background-color: black ; */
    height: auto;
    padding: 2rem;
}
#p3p2{
    width: 100%;
    text-align: center;
}
#p3p2 h1{
    font-size: 1.7rem;
    margin-bottom: 1.2rem;
    margin-top: 1.5rem;
    font-weight: 700 !important; 
}
#p3p2 h3{
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 500;
}
#p3p1{
    position: relative;
    justify-content: center;
    display: flex;
}
#backIMG{
    z-index: 0;
    height: 15rem;
}
.extraDiv{
    position: relative;
    display: flex;
}
#DownST{
    z-index: 1;
    background-color: black;
    height: 4rem;
    width: 14rem;
    color: lightblue;
    border: black 1px solid;
    vertical-align: center;
    position: absolute;
    left: 15%;
    bottom: 1.5rem;
    padding: 0.5rem;
    display: flex;
    border-radius: 0.7rem;
    border: 2px solid rgba(131, 130, 130, 0.616);
}
.img1 img{
    height: 3rem;
    position: absolute;
    top: 0.4rem;
    left: 0.6rem;
}
.text{
    margin-left: 1rem;
    position: absolute;
    top: .95rem;
    left: 2.8rem;
    line-height: 1;
    font-weight: 600;
}
.text h5{
    font-weight: 800;
    font-size: 0.7rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
    color: white;
}
.text p{
    color: #0071eb;
    margin-top: 0.3rem !important;
    font-size: 0.7rem;
    font-weight: 0;
}
#setMiddle{
    margin: 0;
}
.img2 img{
    height: 2.8rem;
    float: right;
    position: absolute;
    top: 0.5rem;
    right: 0.2rem;
}

.Page4{
    color: white;
    /* background-color: black ; */
    height: auto;
    padding: 2rem;
}
#p4p1{
    width: 100%;
    text-align: center;
}
#p4p1 h1{
    font-size: 1.7rem;
    margin-bottom: 1.2rem;
    margin-top: 1.5rem;
    font-weight: 700 !important; 
}
#p4p1 h3{
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 500;
}
#p4p2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#p4p2 img{
    height: 15rem;
    z-index: 1;
}
#p4p2 video{
    height: 7.3rem;
    z-index: 0;
    position: absolute;
    top: 1.2rem;
}
.page5{
    color: white;
    height: auto;
    padding: 2rem;
}
#p5p1{
    width: 100%;
    text-align: center;
}
#p5p1 h1{
    font-size: 1.7rem;
    margin-bottom: 1.2rem;
    margin-top: 1.5rem;
    font-weight: 700 !important; 
}
#p5p1 h3{
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 500;
}
#p5p2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#p5p2 img{
    height: 15rem;
    z-index: 1;
}



.FAQ{
    color: white;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    height: auto;
}

.FAQtext h1{    
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700 !important;
}
.card-body{
    color: white;
    background-color: rgb(71, 71, 71) !important;

}
.collapse{
    
}
.btspbtn{
    width: 85% !important;
    font-size: 1.5rem !important;
    background-color: rgb(71, 71, 71) !important;
    padding: 1rem 2rem !important;
    margin: 2.5rem 0 0.3rem 0;
}
details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}
/* summary::marker{
    -webkit-appearance: none !important;
} */
details summary i{
    transform: rotate(90deg);
    right: 1rem;
    position: absolute;
    z-index: 1;
    color: white;
}

details[open] i{
    transform: rotate(180deg);
}

summary::marker{
    color: transparent;
}
details summary{
    z-index: 0;
    position: relative;
    background-color: rgba(45, 45, 45, 1);
    font-size: 1rem;
    padding: 1rem 1rem 1rem 1.8rem;
    width: 100%;
    display: flex;
    margin: 0.3rem 0;
    align-items: center;
}

/* details[open] summary[open] summary{
    margin: 0 !important;
} */

details p{
    width: 100%;
    background-color:rgba(45, 45, 45, 1) ;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    padding: 2rem;
    font-size: 1rem;
}
.FAQhr{
    background-color: transparent !important;
    height: 1px !important;

}

.outlineGreen{
    border: #50ff00 1px solid !important;
}

.bottomLineYellow{
    border-bottom: 0.15rem solid #ffa008 !important;

}
.emailRequired{
    visibility: hidden;
}

details summary:hover{
    background-color: rgb(78,78,78);
    transition: 500ms;
}
summary p{
    background-color: rgba(45, 45, 45, 1) ;
}

.EmailSec1 h6{
    font-size: 1.1rem;
    margin: 1.2rem 2.5rem;
    font-weight: 600;
}
.EmailSec1 label{
    width: 100%;
}
.EmailSec1 input{
    padding: 0.7rem;
    width: 85%;   
    margin-bottom:1rem;
    border: 0;
    border-radius: 0.1rem;
}
.EmailSec1 input:focus{
    outline: 1px rgb(0,113,235) solid;
}
.EmailSec1 button{
    padding: 0.6rem;
    width: 35%;
    background-color: #e50914;
    color: white;
    border-radius: 0.1rem;
    border: 0;
}
.EmailSec1 button:hover{
    transition: 300ms;
    background-color: rgb(193, 17, 25);
}
.footer{
    padding: 10%;
    color: white;
    background-color: black ;
    text-align: center;
}
.call{
    color: #737373;
    margin-bottom: 0;
    text-align: left;
}
.call a{
    color: #737373;
}
.call a:hover{
    color: #737373;
}
.floatRight1{
    text-align: left;
    font-weight: 800;
    color: #737373;
    margin-top: 1.2rem;
}
.floatRight1 select{
    padding: 0.8rem 1.2rem;
}
.end{
    padding-top: 1rem;
    color: #737373;
    text-align: left;
}
.LangDD1{
    background-color: transparent;
    color: #737373;   
    border: 1px solid #737373;
    padding: 5px 2px;
    border-radius: 3px;
}

.LangDD1 option{
    background-color: lightslategrey;
    color:white;
}
.grid-cont{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 1.5rem;
    text-align: left;
    font-size: 0.8rem;
}
.grid-item ul{
    padding-left: 0;
}
.grid-item ul li{
    list-style-type: none;
    margin: 0.8rem 0;
    margin-left: 0;
}
.grid-item ul li a{
    color: #737373;
    text-decoration: none;
}
.grid-item ul li a:hover{
    text-decoration: underline;
}
.setCenter{
    display: flex;
}
.setCenter p{
    margin: auto;
}
.setCenter summary{
    margin: auto;
}


/* Sign In Page styles */

/* .svg2{
    fill: red !important;
    color: red;
    height: 1.4rem;
}
.navbar2{
    padding: 1.4rem !important;
}
.InnerNav2{
    width: 100%;
} */

.loginForm{
    /* padding: 2rem 1.5rem; */
    padding: 10% 5% 5% 5%;
    height: auto;
    color: white;
}
.loginForm h1{
    color: white;
    margin: 0;
}
#emailOrPhone, #password{
    padding: 1rem;
    width: 93%; 
    border: 0;          
    border-radius: 0.3rem; 
    background-color: #333;
    outline:0;          
    display: block;     
    margin: auto;       
}
#emailOrPhone{
    margin-top: 1.5rem !important;
    margin-bottom: 1rem !important;
}
#password{
    margin-bottom: 3rem !important;
}
.inputs{
    width: 100%;
    /* overflow: hidden; */
    /* display: block;
    align-items: center;
    justify-content: center;     */
}
.SignIn{
    padding: 0;
    width: 100%;
}
.SignIn button{
    /* padding: 1rem;
    width: 90%;   
    border: 0;
    border-radius: 0.1rem; 
    outline:0;
    margin: 1.5rem 0 1rem 0;
    background-color: red;
    color: white;
    font-size: 1rem;
    display: block;
    margin: 0 auto; */

    background-color: red;
    color: white;
    padding: 1rem;
    width: 100%;
    border: 0;
    border-radius: 0.3rem;
    outline: 0;
    display: block;
    margin: auto;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}
.ExtraContent span{
    color: white;
    font-size: small;
    padding-left: 0.2rem;
    color: #b3b3b3;
}
.ExtraContent{
    padding-top: 5%;

}
.ExtraContent a{
    color: #b3b3b3;
    float: right;   
    text-decoration: none;
}
.ExtraContent a:hover{
    text-decoration: underline;
}
.signUpForm{
    padding: 0% 5% 15% 5%;
    color: #b3b3b3;
}
.signUpForm h4{
    font-weight: 400;
    margin-bottom: 1rem;
}
.signUpForm h4 a{
    color: white;
    text-decoration: none;
}
.signUpForm h4 a:hover{
    text-decoration: underline;
}
.signUpForm p{
    font-size:small;

}
.signUpForm p a{
    color: #0071eb;
    text-decoration: none;    
}
.signUpForm p a:hover{
    text-decoration: underline;
}
.diffHR{
    background-color: rgb(85, 84, 84) !important;
    height: .1rem !important;
    margin: 0 !important;
    border: 0;
}
.footer1{
    padding: 10% 5%;
    color: white;
    text-align: center;
}